{% extends "waiter/base.html" %}
{% block content %}
    <p><b>
        Our menu highlights things that utilize the sound and fragrant flavors, however, forget the stuffing ghee, spread, oil, and overwhelming cream.</b></p>

       <p><i> ‘FORT Indian Restaurants’ has developed to incorporate four superb takeout areas in UK, with additional to come sooner rather than later. Our group takes pride in the way that we can furnish our new and faithful clients with extraordinary tasting Indian-roused nourishment that is not normal for that some other Indian eateries you visit.
        
        We perceive that a few people are as yet searching for run-of-the-mill Indian nourishment, and that is fine with us. Our disclaimer is that on the off chance that you’re anticipating overwhelming, slick, undesirable Indian nourishment, ‘FORT Indian Restaurants’ isn’t the place for you. </i></p>



{% endblock content %}